<!DOCTYPE html>
<html class="bg-[#f0eee6]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Panache
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=inter:400,400i,500,500i,600,600i,700,700i|instrument-serif:400,400i"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    @viteReactRefresh()
    @inertiaHead()
    @vite([
      'app/core/ui/app/app.tsx',
      `app/${page.component.split('/')[0]}/ui/pages/${page.component.split('/').splice(1)}.tsx`
    ])
  </head>
  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>
</html>
